/* Global */
body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.format-anchor {
    text-decoration: underline;
    color: rgb(61, 4, 61);
}

a:hover {
    color: blue;
}

.body-section {
    min-height: calc(100vh - 180px);
}

.footer-section {
    height: 100px;
    margin-top: 80px;
    background-color: rgb(224, 224, 224);
}

.footer-section p {
    text-align: center;
    padding: 40px;
}
/* LIKE BUTTON */
#like-button {
    font-family: FontAwesome;
}

#like-button:hover, #save-button:hover {
    color: blue;
    cursor: pointer;
}

#like-form {
    float: left;
    padding-right: 5px;
}

#save-form-span {
    float: right; 
}

/* NAVIGATION BAR */
.nav-bar-anchor {
    padding: 4px 8px;
    border-radius: 15px;
    margin: 2px;
}

.nav-bar-anchor:hover {
    border: 1px solid gray;
}

.nav-element {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.nav-image {
    cursor: pointer;
}

.nav-image img {
    width: 20px;
    border-radius: 30px;
}

#nav-element-box {
    width: 30%;
    float: right;
    margin: auto;
    padding: 5px;
}

#nav-bar {
    border-bottom: 1px solid gray;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

/* MENU BAR */
#menu-bar {
    border: 1px solid grey;
    width: 260px;
    display: none;
    position: absolute;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
    background-color: white;
    right: 10px;
    top: 40px;
    border-radius: 10px;
}

#menu-bar-list {
    margin: 15px 10px;
}

#flove {
    font-family: 'Sofia', sans-serif;
    color: #000080;
    font-size: 25px;
    text-shadow: 1px 1px 1px #ababab;
}

/* COMMENTS AND REPLIES */

/* Hide reply box, would be activated using JavaScript */
.reply-box {
    display: none;
}

.reply-box-textarea {
    width: 100px; height: 30px;
}

/* Hide button for hiding reply textarea until textarea is displayed using JavaScript */
#cancel-reply {
    display: none;
}

#reply-button, #cancel-reply {
    width: 45px;
    height: 15px;
    font-size: 9px;
}

.reply-list {
    padding-left: 20px;
}

/* Hide comments  and button for hiding comments when page is loaded */
#comment-area, #hide-comments {
    display: none;
}

#comment-area {
    padding: 10px;
    min-height: 120px;
    max-height: 400px;
    overflow: auto; 
    width: 80%;
    border-radius: 30px;
    margin: 5px 0;
}

#comment-area-body {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid saddlebrown;
    margin: 20px 0;
}

.comment-image, .reply-image {
    width: 10px;
    border-radius: 50px;
}
#show-comments span, #hide-comments span, #save-button {
    font-family: FontAwesome;
}

.comment-writer-name {
    font-size: 10px;
}

/* Buttons for hiding and showing  comments */
#show-reply-box, #cancel-reply {
    text-decoration: none;
    font-size: 12px;
    color: rgb(253, 8, 0);
}

/* MAIN DIV */
.body-content {
    width: 60%;
    margin: auto;
}


/* WRITER'S PAGE */
.writer-page-body-content {
    width: 60%;
    padding: 0 5%;
}

#writer-page-sidebar {
    width: 26%;
    float: right;
    padding: 2%;
    border: 1px gray solid;
    box-shadow: 1px 1px 1px 1px grey;
    margin-top: 30px;
}

#writer-page-sidebar img {
    width: 100px;
    border-radius: 50px;
}

/* ARTICLE DETAIL & LIST PAGES */
.header-writer-image {
    width: 50px;
    border-radius: 30px;
    float: left;
    margin-right: 10px;
}

.article-card {
    border: 1px solid;
    padding: 10px 20px 33px 20px;
    border-radius: 20px;
}

.article-card-img {
    width: 30%;
    float: right;
    border-radius: 30px;
}

.article-card-writer-img {
    width: 25px;
    border-radius: 30px;
    float: left;
}

.article-card-text {
    width: 60%;
}

.article-card-writer-name {
    clear: right;
    padding: 4px 0 10px 4px;
}

.modify-article-icon {
    margin-left: 4px;
}

#load-more-button-div {
    display: flex;
    justify-content: center;
}

.article-detail-icon {
    float: right;
    padding-left: 4px;
    cursor: pointer;
}

#article_img {
    width: 95%;
}

#article_audio {
    width: 95%;
    height: 50px;
    display: block;
}

/* SEARCH */
#nav-search-form {
    display: inline;
    margin-left: 20px;
}

.search-form-submit-btn {
    font-family: FontAwesome;
    border-radius: 15px;
    padding: 5px; border: 1px solid navy;
    background-color: #000080;
    color: aliceblue;
    cursor: pointer;
}

.search-input {
    border-radius: 15px;
    padding: 5px;
    border: 1px solid navy;
}

.search-writer-box {
    width: 10%;
    display: inline-block;
    border: 1px solid navy;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.search-writer-img {
    width: 25px;
    border-radius: 30px;
}

/* REGISTER FORM */
.register-form {
    margin: auto;
    width: 50%;
    border: solid blue 1px;
    padding: 10px;
    border-radius: 10px;
}

/* MESSAGING FRAMEWORK PROMPT */
.messages {
    width: 75%
}

.info {
    background-color: #d4edda;
    color: #60926b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.error {
    background-color: #f8d7da;
    color: #a7676c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.delete {
    color: red;
}

#not-found-img {
    width: 100%;
}

#article-img-audio {
    display: grid; place-items: center;
}

#menu-bar-img {
    display: none;
}

#menu-search-form-span {
    display: none;
}

/* MEDIA QUERY */
@media (max-width: 780px) {
    .nav-text {
        display: none;
    }

    #menu-bar-img {
        display: inline-block;
    }

    #nav-search-form {
        display: none;
    }

    #menu-search-form-span {
        display: block;
    }
}