/* Global */
ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/* Navigation Bar */
.nav-bar-anchor {
    padding: 4px 8px;
    border-radius: 15px;
    margin: 2px;
}

.nav-bar-anchor:hover {
    border: 1px solid gray;
}

.nav-element {
    float: right;
    padding-right: 10px;
}

.nav-image {
    cursor: pointer;
}

/* Hide reply box, would be activated using JavaScript */
.reply-box {
    display: none;
}

/* Hide button for hiding reply textarea until textarea is displayed using JavaScript */
#cancel-reply {
    display: none;
}

/* Hide comments  and button for hiding comments when page is loaded */
#comment-area, #hide-comments {
    display: none;
}

/* Buttons for hiding and showing  comments */
#show-reply-box, #cancel-reply {
    text-decoration: none;
    font-size: 12px;
    color: rgb(253, 8, 0);
}

/* Main of div */
.body-content {
    width: 60%;
    margin: auto;
}


/* Writer's Page */
.writer-page-body-content {
    width: 60%;
    padding: 5%;
}

.writer-page-sidebar {
    width: 26%;
    float: right;
    padding: 2%;
}


/* Register Form */
.register-form {
    margin: auto;
    width: 50%;
    border: solid blue 1px;
    padding: 10px;
    border-radius: 10px;
}