{% extends "blog/base.html" %}

{% block title %}
    <title>Sign Up | Flove</title>
{% endblock %}

{% block content %}
<div class="body-content">
    <div class="register-form">
        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        {% endif %}

        {% if email_error %}
            <li class="error">{{ email_error }}</li>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <h1>Glad to have you here!</h1>
            <table>
                <tr>
                    <td>{{ form.username.label }}:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label }}:</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label }}:</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label }}:</td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>

            <input type="submit" value="Sign up">
            <div>
                <p>Already registered? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}