{% extends 'blog/base.html' %}

{% block title %}
    <title>{{ article.title }} | Flove</title>
{% endblock %}

{% block content %}
    {% if article.article_status == 'd' and request.user != article.writer.user %}
        <p>Not accessible</p>
    {% else %}
        <!-- Article audio -->
        {% if article.article_audio %}
            <audio controls controlsList="nodownload">
                <source src="{{ article.article_audio.url }}" type="audio/mpeg">
            </audio>
        {% endif %}

        <h3>{{ article.title }}</h3>
        <p>{{ article.text|linebreaks }}</p>
    {% endif%}

{% endblock %}