{% extends 'blog/base.html' %}

{% block title %}
    <title>Articles | Flove</title>
{% endblock %}

{% block content %}

<a href="{% url 'new-article' %}">Write</a>
{% for article in article_list %}
    <div style="border-style: solid;">
        <a href="{{ article.get_absolute_url }}">
            <p>{{ article.title }}</p>
        </a>
        <small>{{ article.writer }}</small>
        <small>{{ article.get_article_status_display }}</small>

        <!-- Save/Unsave Article -->
        <form action="{% url 'save-article' article.writer.user article.article_url %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id }}">

            <input id="save-button" type="submit"
            value="{% if article in request.user.writer.saved_articles.all %}Unsave{% else %}Save{% endif %}">
        </form>

        {% if request.user.writer.id == article.writer.id %}
            <a href="{% url 'update-article' article.writer.user article.article_url %}">Update</a>
            <a href="{% url 'delete-article' article.writer.user article.article_url %}">Delete</a>
        {% endif %}
    </div>

{% empty %}
    <p>There are no articles</p>
{{object_list}}

{% endfor %}

{% endblock %}