{% extends 'blog/base.html' %}

{% block title %}
    <title>
        {% if article %}
            {# Title of article to be updates #}
            Updating {{ article.title }} | Flove
        {% else %}
            {# Title for new article #}
            New Article | Flove
        {% endif %}
    </title>
        
        
{% endblock %}

{% block content %}
    <div class="body-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" value="Publish">
        </form>
    </div>
    <!-- TODO: Implement an function to change value of submit button
    to Save when draft is chosen. -->
{% endblock %}