{% extends 'blog/base.html' %}

{% block title %}
    <title>Delete Comment | Flove</title>
{% endblock %}

{% block content %}

    <div class="body-content">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete your comment:</p> 
            <em>{{ comment.text }}</em>
            <p>in {{ comment.article }}.</p>
            {{ form }}

            <input type="submit" value="Yes">
            <input type="submit" class="delete-cancel-button" value="Cancel">
        </form>
    </div>

    <!-- Data value that would be sent to external JavaScript to cancel delete -->
    <div id="cancel-delete-redirect-to-article", data-cancel_delete_redirect_to_article="{% url 'article-detail' comment.article.writer.user comment.article.article_url %}"></div>
{% endblock %}