{% extends 'blog/base.html' %}

{% block title %}
    <title>
        {{ writer }} 

        {% if article_status == 'p' %}
            Public Articles 

        {% elif article_status == 'u' %}
            Unlisted Articles 

        {% elif article_status == 'd' %}
            Drafts

        {% endif %}

        | Flove
    </title>
{% endblock %}

{% block sidebar %}
    {% if writer.profile_picture %}
        <p>{{ writer.profile_picture }}</p>
    {% endif %}
    <h3>{{ writer }}</h3>

    {% if writer.bio %}
        <b>Biography</b>
        <p>{{ writer.bio }}</p>
    {% endif %}

    {% if writer.display_email %}
        <b>Email</b>
        <p><a href="mailto:{{ writer.user.email }}">{{ writer.user.email }}</a></p>
    {% endif %}

    {% if writer.website_url or writer.linkedin_url %}
        <p><strong>Social Media</strong></p>
        <ul>
            {% if writer.website_url %}
                <li><a href="{{ writer.website_url }}" target="_blank">Website</a></li>
            {% endif %}

            {% if writer.linkedin_url %}
                <li><a href="{{ writer.linkedin_url }}" target="_blank">LinkedIn</a></li>
            {% endif %}
        </ul>
    {% endif%}
{% endblock %}

{% block content %}

    {% if request.user == writer.user %}
        <a href="{% url 'new-article' %}">Write</a>
        <!-- For filtering articles -->
        <form action="{% url 'filter' %}" method="get">
            <select name="article_status" id="filter">
                <option value="d" {% if article_status == 'd' %}
                selected="selected"{% endif %}>Drafts</option>

                <option value="p" {% if article_status == 'p' %}
                selected="selected"{% endif %}>Public</option>

                <option value="u" {% if article_status == 'u' %}
                selected="selected"{% endif %}>Unlisted</option>

                <option value="a" {% if article_status == None %}
                selected="selected"{% endif %}>All Published</option>

            </select>

            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% for article in article_list %}

        <!-- Ensures that only user can see unlisted articles -->
        {% if article.article_status == 'u' and request.user.writer != article.writer %}
            <div></div>
        
        {% else %}
            <div style="border-style: solid;">
                <a href="{{ article.get_absolute_url }}">
                    <p>{{ article.title }}</p>
                </a>
                <small>{{ article.writer }}</small>
                <small>{{ article.get_article_status_display }}</small>

                 <!-- Save/Unsave Article -->
                <form action="{% url 'save-article' article.writer.user article.article_url %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="article_id" value="{{ article.id }}">
                    <input type="hidden" name="article_path" value="{{ request.path }}">

                    <input type="submit" value="Save">
                </form>

                {% if request.user == article.writer.user %}
                    <a href="{% url 'update-article' article.writer.user article.article_url %}">Update</a>
                    <a href="{% url 'delete-article' article.writer.user article.article_url %}">Delete</a>
                {% endif %}
            </div>
        {% endif %}

    {% empty %}
    <p>There are no articles</p>
    {% endfor %}
{% endblock %}