{% extends 'blog/base.html' %}
{% load app_tags %}

{% block title %}
    <title>
        {{ writer }} 

        {% if article_status == 'p' %}
            Public Articles 

        {% elif article_status == 'u' %}
            Unlisted Articles 

        {% elif article_status == 'd' %}
            Drafts

        {% endif %}

        | Flove
    </title>
{% endblock %}

{% block sidebar %}
    <div class="writer-page-sidebar" style="border: 1px gray solid; box-shadow: 1px 1px 1px 1px grey; margin-top: 30px;">
        
        <img src="{% if writer.profile_picture %}
        {{ writer.profile_picture.url }}
        {% else %}
        {{ writer.user|gravatar }}
        {% endif %}"
        alt="" style="width: 100px; border-radius: 50px;">
        
        <h3>{{ writer }}</h3>

        {% if writer.bio %}
            <b>Biography</b>
            <p>{{ writer.bio|linebreaks }}</p>
        {% endif %}

        {% if writer.display_email %}
            <b>Email</b>
            <p><a href="mailto:{{ writer.user.email }}">{{ writer.user.email }}</a></p>
        {% endif %}

        {% if writer.website_url or writer.linkedin_url %}
            <span><strong>Social Media</strong></span>
            <br>
            {% if writer.website_url %}
                <span>
                    <a href="{{ writer.website_url }}" target="_blank" title="Website">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                </span>
            {% endif %}

            {% if writer.linkedin_url %}
                <span>
                    <a href="{{ writer.linkedin_url }}" target="_blank" title="LinkedIn">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </span>
            {% endif %}

        {% endif%}
    </div>
{% endblock %}

{% block content %}
<div class="writer-page-body-content" style="padding: 0 5%;">
    {% if request.user == writer.user %}

        <!-- Form for filtering articles -->

        <form action="{% url 'filter' %}" method="get">
            <select name="article_status" id="filter">
                <option value="d" {% if article_status == 'd' %}
                selected="selected"{% endif %}>Drafts</option>

                <option value="p" {% if article_status == 'p' %}
                selected="selected"{% endif %}>Public</option>

                <option value="u" {% if article_status == 'u' %}
                selected="selected"{% endif %}>Unlisted</option>

                <option value="a" {% if article_status == None %}
                selected="selected"{% endif %}>All Published</option>

            </select>

            <input type="submit" value="Submit">
        </form>
        <br>
    {% endif %}
    
    {% for article in article_list %}

        <!-- Ensures that only user can see unlisted articles -->
        {% if article.article_status == 'u' and request.user.writer != article.writer %}
            <div></div>
        
        {% else %}
            <div class="article-card" style="border: 1px solid; padding: 10px 20px 33px 20px; border-radius: 20px;">
                <a href="{{ article.get_absolute_url }}">
                    {% if article.article_img %}
                        <img src="{{ article.article_img.url }}" alt="" class="article-card-image" style="width: 30%; float: right; border-radius: 30px;">
                    {% endif %}
                    <div class="article-card-text" style="width: 60%;" >
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.text|safe|truncatechars_html:100 }}</p>
                        <small>{{ article.get_article_status_display }}</small>
                    </div>
                </a>

                <!-- Save/Unsave Article -->
                <form class="save-form">
                    {% csrf_token %}
                    <input class="article_id" type="hidden" name="article_id" value="{{ article.id }}">

                    <input id="save-button" type="submit" style="font-family: FontAwesome; float: left;"
                    value="{% if article in request.user.writer.saved_articles.all %}&#xf02e;{% else %}&#xf097;{% endif %}"
                    title="{% if article in request.user.writer.saved_articles.all %}Unsave{% else %}Save{% endif %}">

                    <div id="save-form-url" data-save_form_url="{% url 'save-article' article.writer.user article.article_url %}"></div>
                </form>

                {% if request.user == article.writer.user %}
                    <a href="{% url 'update-article' article.writer.user article.article_url %}" title="Edit" style="margin-left: 4px;"><i class="fa-solid fa-pen-nib"></i></a>
                    <a href="{% url 'delete-article' article.writer.user article.article_url %}" title="Delete" style="margin-left: 4px;"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </div>
            <hr>
        {% endif %}

    {% empty %}
    <p>There are no articles</p>
    {% endfor %}

    </div>
    <div id="check-authenticaton", data-check_authentication="{{ user.is_authenticated|lower }}"></div>
    <div id="login-page-redirect" data-login_page_redirect="{% url 'login' %}?next={{ request.path }}"></div>
{% endblock %}